@import "colors.css";
@import url(layout.css);
@import url(navbar.css);


/* multi-line vertical alignment */
.content-table {
    display: table;
    height: 120px;
}

.content-table p {
    display: table-cell;
    vertical-align: middle;
}


/* block element with known height */
.pos-relative {
    position: relative;
}

/* .v-centered-block {
    height: 100px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 100%;
} */

/* with unknown height */
.v-centered-block {
    height: 160px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    width: 100%;
}

/* block element verticaly and horizontaly centered - known height/width */
/* .v-h-centered-block {
    height: 140px;
    width: 140px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -70px;
} */

/* for unknown height/width */
.v-h-centered-block {
    height: 140px;
    width: 140px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}
h1{
    font-family: 'Noto Serif', serif;
    
    text-align: center;
    font-size: 40px;
}
h2{
    font-family: 'Noto Serif', serif;
    text-align: center;
    font-size:30px;

}
.introtext{
        font-family: 'Noto Serif', serif;

    font-size: 20px;
    /*column-count: 2;
    column-gap: 40px;
    line-height: 1.9em;
    */

}
h3{
font-family: 'Noto Serif', serif;


}

p{
    font-family: 'Noto Serif', serif;

    line-height: 23px;
}
li{
        font-family: 'Noto Serif', serif;

    
}
.firstPapacristo{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

body{
    font-family: 'Noto Serif', serif;

}

